@font-face {
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-decoration: none;
}

a {
  color: #c24d67;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#fh5co-home {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-color: #c24d67;
  color: #fff;
  overflow: hidden;
}
#fh5co-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .9;
  -webkit-backface-visibility: hidden;
  background-color: #c24d67;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM3YjNmNzUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2MyNGQ2NyIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #7b3f75), color-stop(1, #c24d67));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #7b3f75 0%, #c24d67 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #7b3f75 0%, #c24d67 100%);
  background-image: -ms-repeating-linear-gradient(top left, #7b3f75 0%, #c24d67 100%);
}
#fh5co-home, #fh5co-home .text-wrap {
  height: 900px;
}
#fh5co-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#fh5co-home .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#fh5co-home .text-inner a {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-home .text-inner a:hover, #fh5co-home .text-inner a:active, #fh5co-home .text-inner a:focus {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}
#fh5co-home .text-inner h1 {
  font-size: 65px;
  color: white;
  margin: 0 0 20px 0;
 
}
#fh5co-home .text-inner h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.slant {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  bottom: 0;
  margin-bottom: -35px;
  padding: 0;
  width: 101%;
}

#footer {
  padding: 50px 0;
  color: #7f7f7f;
  position: relative;
}
#footer .gotop {
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -25px;
  background: #fff;
  z-index: 8;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  
}
#footer .gotop:hover, #footer .gotop:focus {
  top: -25px;
  text-decoration: none !important;
  
}
#footer .copyright {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
#footer p{
  font-size: 20px;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #c24d67;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #c24d67;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #c24d67;
  color: #fff;
}
.social li a.social-circle {
  background: #c24d67;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #c24d67;
  color: #fff;
}
.social.social-circle a {
  background: #c24d67;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}



.ctn-text{
  margin-top: 80px;
  width: 90%;
  background-position: center;
  background-size: cover;
  padding: 40px;
  position: relative;
}

.capa{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #7b3f75;
  padding: 20px;
  opacity: 0.8;
}

.title-description{
  position: relative;
  top: 80px;
  color: white;
  font-weight: 300;
  font-size: 40px;
}

.text-description{
  position: relative;
  top: 110px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
  text-justify: auto;
}

.ctn-form{
  margin-top: 80px;
  width: 80%;
  padding: 40px;
  background: #fff; 
  
}

.logo{
  width: 150px;
  margin: auto; 
  display: flex;
}


.title{
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  color: #7a7a7a;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300px;
  color: #7a7a7a;
}

input[type="email"],
input[type="password"]{
  
  width: 100%;
  height: 30px;
  background: rgba(0,0,0,0);
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  color: #c24d67;
  font-size: 20px;
}
.boton{
  width: 80%;
  height: 30px;
  font-size: 22px;
  border: 0;
  text-align: center;
  background: #ffffff00;
  border-bottom: 2px solid rgba(0,0,0,0.12);
  color: #7a7a7a;
  margin-top: 60px;
  transition: all 200ms ease;
  cursor: pointer;
  outline: 0px;
  align-items: center;
}
.boton:hover{
  width: 100%;
  margin-left: -0.5%;
  color:  #7b3f75;
}

.container-all{
  width: 100%;
  max-width: 1000px;
  margin-top: 100px;
  margin: auto;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.ctn-form span{
  color: #000;
  margin-top: 60px;
}



/*RESPONSIVE*/

@media screen and (max-width: 800px){
  .ctn-text{
      display: none;
  }

  .ctn-form{
      margin: auto;
      width: 100%;
      background: #fff;
  }
}
