@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/* Googel Fonts End  

*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");


#titulo_eliminar{
	color: #f0486d;
	font-size: 27px;
}
#titulo_editar{
	color:  #a7489d;
}

#titulo_agregar{
	color: #c24d67;
	font-size:27px;
}
#boton_editar{
	background: #a7489d;
	color: #fff;
	font-family: monospace; 
}
#boton_editar:hover{
	background: #393e46 !important;
	color: #fff;
	
}
#boton_agregar{
	background: #c24d67;
	color: #fff;
	margin-bottom: 10px;
}
#boton_agregar:hover{
	background: #393e46 !important;
	color: #fff;
	outline: none !important;
}
#boton_agregar_2{

	background: #c24d67;
	color: #fff;
}
#boton_agregar_2:hover{
	background: #393e46 !important;
	color: #fff;
}
#boton_eliminar{
	background: #f0486d;
	color: #fff;
	margin-left: 10px;
}
#boton_eliminar:hover{
	background: #393e46 !important;
	color: #fff;
}
#boton_cerrar{
	color: #ffffff;
	background: #322F2F;
}
#boton_cerrar:hover{
	background: #272525;
}
input:read-only {
  color: black;
}
.titulo_sidebar{
	text-align:left;
}
.container{
	margin-top: 0px;
}
table{
	table-layout: fixed;
	width: 250px;
}
th,td{
	width: 183px;
	word-wrap: break-word;
}

.icono_exportacion{
	font-size: 25px;
	color: #fff;
}
.boton_exportacion{
	margin-left: 5px;
}
.boton_longitud{
	margin-left: 5px;
}
.boton_vista_usuarios{
	background:-webkit-linear-gradient(left, rgba(168,0,119,1) 0%, rgba(255,0,170,1) 100%);
	margin-bottom: 10px;
	color:#fff;

}
.boton_vista_usuarios:hover{
	background:-webkit-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 0%, rgba(255,0,102,1) 100%);
	color: #fff;
}
.texto_entrega{
	color: green;
}
.texto_estado{
	color: red;
}
.cerrar_sesion{
	margin-top: 15px;
}

table.dataTable tbody tr.selected {
    color: white;
    background-color: #c24d6691;
}
